.kotn-helper-friends-bidding {
    border: 1px solid var(--danger);
    background-color: var(--orange);
}

.kotn-helper-spouses-bidding {
    border: 1px solid var(--blue);
    background-color: var(--green);
}

.kotn-helper-friends-bidding,
.kotn-helper-spouses-bidding {
    position: absolute;
    bottom: 3px;
    right: 3px;
    left: 3px;
    padding: 2px 10px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 5px;
    outline: 1px solid rgba(255, 255, 255, 0.75);
}

.kotn-helper-friends-bidding summary ,
.kotn-helper-spouses-bidding summary  {
    cursor: pointer;
}

.kotn-helper-friends-bidding ul,
.kotn-helper-spouses-bidding ul {
    display: inline-block;
    list-style-type: initial;
    list-style-position: inside;
    text-align: left;
}
