/* Processing Indicator */
.kotn-helper-processing {
    position: fixed;
    bottom: -50px;
    right: 5px;
    min-width: 250px;
    padding: 5px;
    line-height: 1;
    text-align: center;
    background-color: var(--orange);
    border-radius: 5px;
    border: 2px solid #ccc;
    transition: bottom 0.2s;
}

.kotn-helper-processing.visible {
    bottom: 5px;
}

/* Icons */
.kotn-helper-icon {
    position: absolute;
    max-width: calc(100% - 4px);
    max-height: calc(100% - 3px);
    font-size: 0.9em;
    overflow: auto;
    line-height: 1;
    background-color: var(--info);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.kotn-helper-icon[open] {
    z-index: 999;
}

.kotn-helper-icon summary {
    display: block;
    text-align: center;
}

.kotn-helper-icon hr {
    margin: 5px;
}

.kotn-helper-icon table {
    margin: auto;
    text-align: left;
}

.kotn-helper-icon table td:not(:first-child) {
    padding-left: 8px;
}

.kotn-helper-icon table td.currency {
    text-align: right;
}

.kotn-helper-icon ul {
    display: inline-block;
    text-align: left;
    font-size: 0.85em;
}

.kotn-helper-icon ul li {
    margin-bottom: 3px;
}

/* Price Icon */
.kotn-helper-price-icon {
    top: 3px;
    left: 4px;
    text-align: left;
}

/* Bids Icon */
.kotn-helper-bids-icon {
    top: 3px;
    right: 4px;
    background-color: var(--info);
}

/* Friends Bidding */
.kotn-helper-others-bidding {
    bottom: 3px;
    right: 3px;
    left: 3px;
}

.kotn-helper-others-bidding.friend {
    border: 1px solid var(--danger);
    background-color: var(--orange);
}

.kotn-helper-others-bidding.spouse {
    border: 1px solid var(--blue);
    background-color: var(--green);
}
